# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.iml
log/

## Directory-based project format:
.idea/

# User-specific stuff:
.classpath
.project
.settings/*
*.success
.DS_Store
/target/
myApp.log
